<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/img/apple-icon.png}">
    <link rel="icon" type="image/png" th:href="@{/img/favicon.png}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
        E-dziennik
    </title>
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport">
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link th:href="@{/css/material-dashboard.css}" rel="stylesheet">
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link th:href="@{/demo/demo.css}" rel="stylesheet">
</head>
<body>

    <div th:fragment="sidebar" class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">

        <div class="logo"><a href="#" class="simple-text logo-normal">
            E-dziennik
        </a></div>
        <div class="sidebar-wrapper">
            <ul class="nav">

                <span th:fragment="userNav">
                    <li th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}">
                        <a class="nav-link" th:href="@{/}" onclick="javascript:selectRole('NONE')">
                            <i class="material-icons">dashboard</i>
                            <p>Menu</p>
                        </a>
                    </li>
                    <li th:classappend="${#httpServletRequest.getRequestURI().toLowerCase().contains('message') ? 'active':''}">
                        <a class="nav-link" th:href="@{/user/{id}/messages(id=${user.id})}" onclick="javascript:selectRole('NONE')">
                            <i class="material-icons">mail</i>
                            <p>Wiadomości</p>
                        </a>
                    </li>
                    <li th:classappend="${#httpServletRequest.getRequestURI().toLowerCase().contains('notice') ? 'active':''}">
                        <a class="nav-link" th:href="@{/user/notice}" onclick="javascript:selectRole('NONE')">
                            <i class="material-icons">notifications</i>
                            <p>Ogłoszenia</p>
                        </a>
                    </li>
                </span>

                <span th:fragment="userRoleNav">
                    <li class="nav-item active-pro ">
                        <a id="adminRoleL" sec:authorize="hasRole('ADMIN')" class="nav-link role" th:href="@{'/admin/home'}"
                           onclick="javascript:selectRole('ADMIN')">
                            <i class="material-icons">person</i>
                            <p>Admin</p>
                        </a>
                        <a id="studentRoleL" sec:authorize="hasRole('STUDENT')" class="nav-link role" th:href="@{'/student/home'}"
                           onclick="javascript:selectRole('STUDENT')">
                            <i class="material-icons">person</i>
                            <p>Uczeń</p>
                        </a>
                        <a id="parentRoleL" sec:authorize="hasRole('PARENT')" class="nav-link role" th:href="@{'/parent/ol/home'}"
                           onclick="javascript:selectRole('PARENT')">
                            <i class="material-icons">person</i>
                            <p>Rodzic</p>
                        </a>
                        <a id="teacherRoleL"  sec:authorize="hasRole('TEACHER')" class="nav-link role" th:href="@{'/teacher/home'}"
                           onclick="javascript:selectRole('TEACHER')">
                            <i class="material-icons">person</i>
                            <p>Nauczyciel</p>
                        </a>
                        <a id="deputyHeadRoleL" sec:authorize="hasRole('DEPUTY_HEAD')" class="nav-link role" th:href="@{'/deputyHead/home'}"
                           onclick="javascript:selectRole('DEPUTY_HEAD')">
                            <i class="material-icons">person</i>
                            <p>Wicedyrektor</p>
                        </a>
                        <a id="headmasterRoleL" sec:authorize="hasRole('HEADMASTER')" class="nav-link role" th:href="@{'/deputyHead/home'}"
                           onclick="javascript:selectRole('HEADMASTER')">
                            <i class="material-icons">person</i>
                            <p>Dyrektor</p>
                        </a>
                        <a id="formTutorRoleL" sec:authorize="hasRole('FORM_TUTOR')" class="nav-link role" th:href="@{'/teacher/formTutor/home'}"
                           onclick="javascript:selectRole('FORM_TUTOR')">
                            <i class="material-icons">person</i>
                            <p>Wychowawca</p>
                        </a>
                    </li>

                    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
                    <style onload="showActiveRole()">
                        .lightRole{
                            background-color: #827899;
                        }
                    </style>
                    <script>
                        function selectRole(role) {
                            Cookies.set('activeRole', role);
                        }

                        function showActiveRole() {
                            var role = Cookies.get('activeRole');

                            $(".role").removeClass("lightRole");

                            switch (role) {
                                case 'ADMIN':
                                    $("#adminRoleL").addClass("lightRole");
                                    break;
                                case 'STUDENT':
                                    $("#studentRoleL").addClass("lightRole");
                                    break;
                                case 'PARENT':
                                    $("#parentRoleL").addClass("lightRole");
                                    break;
                                case 'TEACHER':
                                    $("#teacherRoleL").addClass("lightRole");
                                    break;
                                case 'DEPUTY_HEAD':
                                    $("#deputyHeadRoleL").addClass("lightRole");
                                    break;
                                case 'HEADMASTER':
                                    $("#headmasterRoleL").addClass("lightRole");
                                    break;
                                case 'FORM_TUTOR':
                                    $("#formTutorRoleL").addClass("lightRole");
                                    break;
                                default:
                            }
                        }
                    </script>
                </span>
            </ul>
        </div>
    </div>
</body>
</html>